<h1>Editando Tipo de Mineração</h1>

<%= render 'form', tipomineracao: @tipomineracao %>

<%= link_to 'Mostrar', @tipomineracao , class:"btn btn-warning"%>
<%= link_to 'Back', tipomineracaos_path , class:"btn btn-primary" %>
